

<style>
    .progress-bar-status {
        display: flex;
        align-items: center;
    }
    .step {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        border: 3px solid #90EE90;
        margin: 0 5px;
        position: relative;
        cursor: pointer;
    }
    .step.active {
        background-color: #32CD32;
    }
    .step:not(:last-child)::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        width: 30px;
        height: 4px;
        background-color: #90EE90;
        transform: translateY(-50%);
    }
</style>

<script>
    var att_status = (element)=>{
        let id = element.parentElement.getAttribute('idos')
        let stt = element.getAttribute('number')
        
        var data = {'status': stt, 'id': id}
        var url1 = "{{ url_for('att_status') }}"

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };

        fetch(url1, options)
            .then(response => response.json())
            .then(data => {
                if(data['status'] == 'ok'){
                    alert("status atualizado!")
                    window.location.reload()
                }else{
                    alert("erro")
                }
            })
            .catch(error => {
                alert("cath")
            });

            
    }
</script>

<div class="progress-bar-status" idos="{{ i.id }}">
    <div onclick="att_status(this)" number=1 class="step {% if i.status >= 1 %}active{% endif %}"></div>
    <div onclick="att_status(this)" number=2 class="step {% if i.status >= 2 %}active{% endif %}"></div>
    <div onclick="att_status(this)" number=3 class="step {% if i.status >= 3 %}active{% endif %}"></div>
    <div onclick="att_status(this)" number=4 class="step {% if i.status >= 4 %}active{% endif %}"></div>
</div>
