{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='modulos/servicos/buscar.css') }}">
{% endblock %}


{% block header %}
{% include 'modulos/servicos/components/header.html' %}
{% endblock %}

{% block main %}

<section>
    

    <article>
        
        <div class="titulo">
            <h1>Serviços <small>Pesquisar serviços</small></h1>
        </div>
        
    </article>

    <article id="controlesDeBusca">
        
        <form method="post">
            <select name="filter" id="filter" >
                {% for camp in informacoes['filtros_db'] %}
                    <option value="{{ camp[0] }}" {% if camp[0] != filtro %}{% else %}selected{% endif %}>{{ camp[1] }}</option>
                {% endfor %}
            </select>
            <div>
                <input type="text" autofocus name="inputBuscar" id="inputBuscar" value="{{termo}}">
                <script>
                    // Função para colocar o cursor no final do campo de texto
                    function posicionarCursorNoFinal() {
                      var input = document.getElementById('inputBuscar');
                      input.focus();
                      input.setSelectionRange(input.value.length, input.value.length);
                    }
                
                    window.onload = posicionarCursorNoFinal; // Chama a função quando a página carregar
                </script>
                <button type="submit">
                    <img src="{{ url_for('static', filename='icons/search.svg') }}" alt=""> Pesquisar
                </button>
            </div>
        </form>
        
    </article>
    
    <article id="ListaServicos">
        
        <legend>Pesquisar Serviço</legend>
        <table>
            <thead>
                <tr>
                    <th class="tc"></th>
                    <th class="tc">O.S</th>
                    <th class="tl">Cliente</th>
                    <th class="tl">Placa</th>
                    <th class="tl">Marca</th>
                    <th class="tl">Modelo</th>
                    <th class="tl">Valor Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for serv in servicos %}
                <tr>
                    <td class="tc"><i class="bi bi-info-circle"></i></td>
                    <td class="tc">{{serv["os"]}}</td>
                    <td class="tl">{{serv["nome_cliente"]}}</td>
                    <td class="tl">{{serv["placa"]}}</td>
                    <td class="tl">{{serv["fabricante"]}}</td>
                    <td class="tl">{{serv["modelo"]}}</td>
                    <td class="tl">{{serv["total"]}}</td>
                    <td class="tc"> <a href="{{ url_for('servico_visualizar', id=serv['id'])}}" class="btn-abrir">abrir</a> </td>
                </tr>
        
                {% endfor %}
            </tbody>
        </table>
    </article>
    
</section>
{% endblock %}