{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='modulos/servicos/buscar.css') }}">
{% endblock %}


{% block header %}
{% include 'modulos/servicos/components/header.html' %}
{% endblock %}

{% block main %}

<section>
    

    <article>
        
        <div class="titulo">
            <h1>Serviços <small>Pesquisar serviços</small></h1>
        </div>
        
    </article>

    <article id="controlesDeBusca">
        
        <form method="post">
            <select name="filter" id="filter" >
                <option value="all" {% if filtro == 'all' %}selected{% endif %}>Todos os campos</option>
                <option value="os" {% if filtro == 'os' %}selected{% endif %}>Nª Serviço</option>
                <option value="status" {% if filtro == 'status' %}selected{% endif %}>Status</option>
                <option value="placa" {% if filtro == 'placa' %}selected{% endif %}>Placa</option>
                <option value="cliente" {% if filtro == 'cliente' %}selected{% endif %}>Cliente</option>
                <option value="fabricante" {% if filtro == 'fabricante' %}selected{% endif %}>Marca</option>
                <option value="modelo" {% if filtro == 'modelo' %}selected{% endif %}>Modelo</option>
                <option value="ano" {% if filtro == 'ano' %}selected{% endif %}>Ano</option>
                <option value="cor" {% if filtro == 'cor' %}selected{% endif %}>Cor</option>
                <option value="d_entrada" {% if filtro == 'd_entrada' %}selected{% endif %}>Data de Entrada</option>
                <option value="d_autorizacao" {% if filtro == 'd_autorizacao' %}selected{% endif %}>Data de Autorização</option>
                <option value="d_finalizacao" {% if filtro == 'd_finalizacao' %}selected{% endif %}>Data de Finalização</option>
                <option value="d_retirada" {% if filtro == 'd_retirada' %}selected{% endif %}>Data de Retirada</option>
            </select>
            <div>
                <input type="text" autofocus name="inputBuscar" id="inputBuscar" value="{{termo}}">
                <button type="submit">
                    <img src="{{ url_for('static', filename='icons/search.svg') }}" alt=""> Pesquisar
                </button>
            </div>
        </form>
        
    </article>
    
    <article id="ListaServicos">
        
        <legend>Pesquisar serviço</legend>
        <table>
            <thead>
                <tr>
                    <th class="tc"></th>
                    <th class="tc">O.S</th>
                    <th class="tl">Cliente</th>
                    <th class="tl">Marca</th>
                    <th class="tl">Modelo</th>
                    <th class="tl">Placa</th>
                    <th class="tl">Valor Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for serv in servicos[0] %}
                <tr>
                    <td class="tc"><i class="bi bi-info-circle"></i></td>
                    <td class="tc">{{serv.os}}</td>
                    <td class="tl">{{serv.cliente}}</td>
                    <td class="tl">{{serv.fabricante}}</td>
                    <td class="tl">{{serv.modelo}}</td>
                    <td class="tl">{{serv.placa}}</td>
                    <td class="tl">{{ serv.retur_total() }}</td>
                    <td class="tc"> <a href="{{ url_for('servico_visualizar', id=serv.id)}}" class="btn-abrir">abrir</a> </td>
                </tr>
        
                {% endfor %}
            </tbody>
        </table>
    </article>
    
</section>
{% endblock %}