{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='modulos/servicos/criar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='modulos/servicos/components/status.css') }}">
{% endblock %}


{% block header %}
{% include 'modulos/servicos/components/header.html' %}
{% endblock %}

{% block main %}

<legend><strong>Serviços</strong> Criar Novo Serviço</legend>

<section>

    <article>
        {% include 'modulos/servicos/components/status.html' %}
    </article>

    <article>
        <form action="" id="FormOs" method="POST">
            <div>
                {{ form.csrf_token }}
                <div class="div-input">
                    <label for="codigo">Codigo</label>
                    <input type="text" disabled placeholder="Automatico" style="text-align: center;">
                </div>
                <div class="div-input">
                    <label for="placa">Placa</label>
                    {{ form.placa(style='width: 65vw') }}
                </div>
                <div class="div-input">
                    <label for="fabricante">Fabricante</label>
                    {{ form.fabricante() }}
                </div>
                <div class="div-input">
                    <label for="modelo">Modelo</label>
                    {{ form.modelo(style='width: 30vw') }}
                </div>
                <div class="div-input">
                    <label for="ano">Ano de Fabricação</label>
                    {{ form.ano() }}
                </div>
                <div class="div-input">
                    <label for="anomodelo">Ano Modelo</label>
                    {{ form.anomodelo() }}
                </div>
                <div class="div-input">
                    <label for="cilindrada">Cilindrada</label>
                    {{ form.cilindrada() }}
                </div>
                <div class="div-input">
                    <label for="motor">Nª Motor</label>
                    {{ form.motor() }}
                </div>
                <div class="div-input">
                    <label for="potencia">Potencia</label>
                    {{ form.potencia() }}
                </div>
                <div class="div-input">
                    <label for="combustivel">Combustivel</label>
                    {{ form.combustivel() }}
                </div>
                <div class="div-input">
                    <label for="uf">UF</label>
                    {{ form.uf() }}
                </div>
                <div class="div-input">
                    <label for="municipio">Municipio</label>
                    {{ form.municipio() }}
                </div>
                <div class="div-input">
                    <label for="importado">Importado</label>
                    {{ form.importado() }}
                </div>
                <div class="div-input">
                    <label for="cor">Cor</label>
                    {{ form.cor() }}
                </div>
                <div class="div-input">
                    <label for="cliente">Cliente</label>
                    {{ form.cliente(style='width: 50vw') }}
                </div>
            </div>
            <div>
                {{ form.submit(class='btnSalvar') }}
                <button class="btnCancelar">Cancelar</button>
            </div>
        </form>
    </article>
</section>

{% endblock %}


{% block scripts %}
<script>
    document.querySelectorAll('#status ul li input[type=checkbox]').forEach((stt)=>{
        stt.addEventListener('change', ()=>{
        })
    })
        
</script>

<script>
    document.getElementById('placa').addEventListener('keyup', (placa)=>{
        pl = placa.target.value
        if(pl.length == 7){
            let link = "{{ url_for('returDataVeiculo', placa='') }}" + pl
            fetch(link)
            .then(response => response.json())  // Converte a resposta para JSON
            .then(data => {
                document.getElementById('fabricante').value = data['Marca']
                document.getElementById('modelo').value = data['Modelo']
                document.getElementById('ano').value = data['Ano']
                document.getElementById('cor').value = data['Cor']
                document.getElementById('anomodelo').value = data['AnoModelo']
                document.getElementById('combustivel').value = data['Combustível']
                document.getElementById('motor').value = data['Motor']
                document.getElementById('potencia').value = data['Potencia']
                document.getElementById('uf').value = data['UF']
                document.getElementById('municipio').value = data['Município']
                document.getElementById('cilindrada').value = data['Cilindrada']
                document.getElementById('importado').value = data['Importado']
                
            })    // Manipula os dados retornados
            .catch(error => console.error('Erro:', error));  // Lida com erros

        }
    })
</script>

{% endblock %}
