{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='modulos/servicos/criar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='modulos/servicos/components/status.css') }}">
{% endblock %}


{% block header %}
{% include 'modulos/servicos/components/header.html' %}
{% endblock %}

{% block main %}

<legend><strong>Serviços</strong> Criar Novo Serviço</legend>

<section>

    <article>
        {% include 'modulos/servicos/components/status.html' %}
    </article>

    <article>
        <form action="" id="FormOs" method="POST">
            <div>
                {{ form.csrf_token }}
                <div class="div-input">
                    <label for="codigo">Codigo</label>
                    <input type="text" disabled placeholder="Automatico" style="text-align: center;">
                </div>
                <div class="div-input">
                    <label for="placa">Placa</label>
                    {{ form.placa(style='width: 70vw') }}
                </div>
                
                <div class="div-input">
                    <label for="fabricante">Fabricante</label>
                    {{ form.fabricante() }}
                </div>
                <div class="div-input">
                    <label for="placa">Modelo</label>
                    {{ form.modelo(style='width: 70vw') }}
                </div>
                <div class="div-input">
                    <label for="placa">Ano de Fabricação</label>
                    {{ form.ano() }}
                </div>
                <div class="div-input">
                    <label for="placa">Cor</label>
                    {{ form.cor() }}
                </div>
                <div class="div-input">
                    <label for="cliente">Cliente</label>
                    {{ form.cliente(style='width: 50vw') }}
                </div>
            </div>
            <div>
                {{ form.submit(class='btnSalvar') }}
                <button class="btnCancelar">Cancelar</button>
            </div>
        </form>
    </article>
</section>

{% endblock %}


{% block scripts %}
<script>
    document.querySelectorAll('#status ul li input[type=checkbox]').forEach((stt)=>{
        stt.addEventListener('change', ()=>{
        })
    })
        
</script>

{% endblock %}
