{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='modulos/servicos/novidades.css') }}">
{% endblock %}


{% block header %}
{% include 'modulos/servicos/components/header.html' %}
{% endblock %}

{% block main %}


<!-- atualiza infomação do status -->
<script>
    var requestStatus = (std)=>{
        var idFor = std.getAttribute('idFor')
        var valor = std.getAttribute('valor')

        var data = {'status': valor, 'id': idFor}
        var url1 = "{{ url_for('att_status') }}"

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };

        fetch(url1, options)
            .then(response => response.json())
            .then(data => {
                if(data['status'] == 'ok'){
                    alert("status atualizado!")
                    window.location.reload()
                }else{
                    alert(data['status'])
                }
            })
            .catch(error => {
                alert(error)
                return error
            });

    }
    
</script>

<section>
    <div class="titulo">
        <h1>Serviços <small>existem <span id="qtdTituloSuperior">{{ qtd }}</span> serviços ativos</small></h1>
        <div>
            <small>Filtro</small>
            <input type="text" autofocus onkeyup="filtro(this)">
        </div>
    </div>

    <article id="ativos">
        <table>
            <legend>Serviços em execução</legend>
            <thead>
                <tr>
                    <th class="tc peq" style="width: 5%;">Código</th>
                    <th class="tl" style="width: 45%;">Cliente</th>
                    <th class="tl" style="width: 15%;">Contato</th>
                    <th class="tl" style="width: 10%;">Entrada</th>
                    <th class="tc" style="width: 15%;">Status</th>
                    <th class="tc" style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                
                {% for i in lista %}
                    {% if i.status < 3 %}
                    <tr class="table-servico active">
                        <td class="tc pec"style="width: 5%;"><small><i class="bi bi-arrow-down-circle-fill"></i> {{i.os}}</small></td>
                        <td class="tl wl"style="width: 45%;"><strong>{{ i.cliente.nome_cliente }}</strong> <br> {{ i.veiculo.fabricante }} - {{ i.veiculo.modelo }} - {{ i.veiculo.ano }}/{{ i.veiculo.anomodelo }} - {{ i.veiculo.cor }}</td>
                        <td class="tl"style="width: 15%;">{{ i.cliente.celular }}</td>
                        <td class="tl" style=" width: 10%; font-size: .9rem; text-wrap: nowrap;">{{ i.data_formatada() }}</td>
                        <td class="tc status"style="width: 100%;">
                            {% include 'modulos/servicos/components/status.html' %}
                        </td>
                        <td class="tc"style="width: 10%;"><a href="{{ url_for('servico_visualizar', id=i.id) }}" class="btn-abrir">Abrir</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </article>
    
    
    
    
    <article id="finalizados" style="width: 100%;">
        <table style="width: 100%;">
        
            <legend>Serviços Finalizados</legend>
        
            <thead>
                <tr>
                    <th class="tc peq" style="width: 5%;">Código</th>
                    <th class="tl" style="width: 45%;">Cliente</th>
                    <th class="tl" style="width: 15%;">Contato</th>
                    <th class="tl" style="width: 10%;">Entrada</th>
                    <th class="tc" style="width: 15%;">Status</th>
                    <th class="tc" style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                {% for i in lista %}
                    {% if i.status >= 3 %}
                        <tr class="table-servico active">
                            <td class="tc pec" style="width: 5%;"><strong><i class="bi bi-arrow-down-circle-fill"></i> {{i.os}}</strong></td>
                            <td class="tl wl" style="width: 45%;"><strong>{{ i.cliente }}</strong> <br> {{ i.fabricante }}  {{ i.modelo }}</td>
                            <td class="tl" style="width: 15%;">(62) 99405-3879</td>
                            <td class="tl" style="width: 10%; font-size: .9rem; text-wrap: nowrap;">{{ i.data_formatada() }} <br> sem previsão</td>
                            <td class="tc status" style="width: 100%;">
                                <i class="bi bi-circle-fill {{ 'ck' if i.status >= 1 else ''}}" idFor="{{ i.id }}" valor=1 onclick="requestStatus(this)"></i>
                                <i class="bi bi-circle-fill {{ 'ck' if i.status  >= 2 else ''}}" idFor="{{ i.id }}" valor=2 onclick="requestStatus(this)"></i>
                                <i class="bi bi-circle-fill {{ 'ck' if i.status  >= 3 else ''}}" idFor="{{ i.id }}" valor=3 onclick="requestStatus(this)"></i>
                                <i class="bi bi-circle-fill {{ 'ck' if i.status  == 4 else ''}}" idFor="{{ i.id }}" valor=4 onclick="requestStatus(this)"></i>
                                <i class="bi bi-currency-dollar" style="font-size: 20px; margin-left: -3px; font-weight: 800;"></i>
                            </td>
                            <td class="tc" style="width: 10%;"><a href="{{ url_for('servico_visualizar', id=i.id) }}" class="btn-abrir">Abrir</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </article>

    <!-- adicionar mensagem caso não tenha serviço-->
    <script>
        var verificarQtd = ()=>{
            let ativos = document.querySelectorAll('#ativos tbody tr')
            let finalizados = document.querySelectorAll('#finalizados tbody tr')
            let mensagem = document.createElement('span')
            let divMensagem = document.createElement('div')
            divMensagem.classList.add('mensage-vazio')
            divMensagem.className = 'mensagem'
            mensagem.textContent = 'Sem serviços a exibir'
            divMensagem.appendChild(mensagem)
            
            if(ativos.length == 0){
                alert("at")
                document.querySelector('#ativos').appendChild(divMensagem)
            }else{
                if(document.querySelector('#ativos').querySelector(".mensage-vazio")){
                    document.querySelector('#ativos').removeChild(divMensagem)
                }
            };

            if(finalizados.length == 0){
                document.querySelector('#finalizados').appendChild(divMensagem)
            }else{
                if(document.querySelector('#finalizados').querySelector(".mensage-vazio")){
                    document.querySelector('#finalizados').removeChild(divMensagem)
                }
            }
        }
        verificarQtd()
    </script>
</section>

    <!-- Buca Superior -->
<script>
    var filtro = (inp)=>{
        const filt = inp.value.toUpperCase();
        document.querySelectorAll('.table-servico').forEach((serv)=>{
            var textoCompleto = serv.innerText.toUpperCase() || serv.textContent.toUpperCase();
            console.log(textoCompleto.includes(filt))

            if(textoCompleto.includes(filt)){
                serv.classList.add('active')
            }else{
                serv.classList.remove('active')
            }
        })
        verificarQtd()
    }
</script>

{% endblock %}