@charset "UTF-8";


header {
    position: fixed;
    top: 43px;
    left: 0px;
    display: block;
    width: 60px;
    height: calc(100vh - 45px);
    margin-top: 3px;
    background-color: rgb(245, 245, 245);
    transition: .4s;
    visibility: visible;
    overflow-x: hidden;
    z-index: 100;
}

header:hover {
    width: 176px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

#menuPrincipal {
    display: block;
}

#menuPrincipal a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    font-size: 14px;
    border-bottom: 1px solid rgb(228, 228, 228);
    transition: .4s;
}

header:hover #menuPrincipal a{
    gap: 5px;
    padding: 13.5px 20px;
}

#menuPrincipal img {
    width: 27px;
    transition: .4s;
}

header:hover #menuPrincipal a img{
    width: 20px;
}

#menuPrincipal a.active {
    background-color: #ECF0F5;
}

#menuPrincipal a:hover{
    background-color: white;
}

