{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='servicos/buscar.css') }}">
{% endblock %}


{% block header %}
{% include 'servicos/header.html' %}
{% endblock %}

{% block main %}

<legend>Pesquisar serviço</legend>

<div style="display: flex; position: sticky; top: 45px; gap: -5px;">
    <select name="filter" id="filter" style="background-color: rgb(223, 223, 223); border: none; text-align: center; padding: 7px 3px; font-size: 14px;">
        <option value="Todos">Todos</option>
        <option value="Nª Serviço">Nª Serviço</option>
        <option value="Cliente">Cliente</option>
        <option value="Marca">Marca</option>
        <option value="Modelo">Modelo</option>
        <option value="Placa">Placa</option>
        <option value="KM">KM</option>
        <option value="Data de Entrada">Data de Entrada</option>
        <option value="Data Finalização">Data Finalização</option>
    </select>
    <input type="search" name="busc" id="busc" placeholder="encontrar" style="padding: 7px 3px; font-size: 14px; width: 200px; border: none; outline-color: rgb(0, 225, 255)">
    <input type="submit" value="Buscar" style="font-size: 14px; background-color: rgb(223, 223, 223); outline: none ; padding: 7px 10px; border: none;">
</div>



<table>
    <thead>
        <tr>
            <th class="tc"></th>
            <th class="tc">O.S</th>
            <th class="tl">Cliente</th>
            <th class="tl">Marca</th>
            <th class="tl">Modelo</th>
            <th class="tl">Placa</th>
            <th class="tc">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(50) %}

        <tr>
            <td class="tc"><i class="bi bi-info-circle"></i></td>
            <td class="tc">{{i}}</td>
            <td class="tl">AUTO VIA MOTORS</td>
            <td class="tl">FORD</td>
            <td class="tl">RANGER LT</td>
            <td class="tl">PQO7A77</td>
            <td class="tc status">
                <i class="bi bi-circle-fill ck"></i>
                <i class="bi bi-circle-fill ck"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-currency-dollar" style="font-size: 20px; margin-left: -3px; font-weight: 800;"></i>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}