#status {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#status ul {
    display: flex;
    width: 80vw;
    max-width: 80vw;
    align-items: center;
    justify-content: space-evenly;
}

#status ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.custom-checkbox {
    display: none;
}


.checkbox-label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.custom-checkbox:checked + .checkbox-label {
    background-color: #00cc00; /* cor quando marcado */
}

.checkbox-label::after {
    content: 'OK';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    font-weight: bolder;
    color: white;
    opacity: 0;
}

.custom-checkbox:checked + .checkbox-label::after {
    opacity: 1;
}


#status input[type=datetime-local] {
    background-color: transparent;
    outline: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.582);
    border: none;
}