<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">

    {% block head %}
    {% endblock %}

</head>
<body>
    {% include 'nav.html' %}

    <main>
        {% block header %}
        {% endblock %}

        {% block main %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
</body>

</html>