<nav>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="open mec">
    <ul id="listNav">
        <li><a href=""><i class="bi bi-clipboard-data"></i>GERENCIA</a></li>
        <li><a href=""><i class="bi bi-tools"></i>SERVIÇOS</a></li>
        <li><a href=""><i class="bi bi-cart3"></i>VENDAS</a></li>
        <li><a href=""><i class="bi bi-person-heart"></i>CLIENTES</a></li>
        <li><a href=""><i class="bi bi-box-seam"></i>ESTOQUE</a></li>
        <li><a href=""><i class="bi bi-person-badge-fill"></i>RH</a></li>
        <li><a href=""><i class="bi bi-currency-dollar"></i>FINANCEIRO</a></li>
    </ul>
</nav>