@charset "UTF-8";


.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-top: -5px;
}

.titulo h1 {
    font-size: 1.6rem;
    font-weight: 400;
}

.titulo h1 small {
    font-size: 1.1rem;
    font-weight: 200;
}

#controlesDeBusca form, #controlesDeBusca div {
    display: flex;
    align-items: center;
}

#filter {
    padding: 5px 15px;
    background-color: rgb(212, 212, 212);
    border: 1px solid rgb(212, 212, 212);
}

#controlesDeBusca {
    display: flex;
    align-items: center;
}

#controlesDeBusca button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.6px 15px;
    background-color: rgb(212, 212, 212);
    font-size: 16.5px;
    font-weight: 300;
    outline: none;
    border: none;
}

#controlesDeBusca button img {
    width: 15px;
    margin-right: 5px;
}

#controlesDeBusca form input {
    width: 300px;
    padding: 6px 10px;
    border: 1px solid rgb(212, 212, 212);
    outline-color: rgba(17, 158, 240, 0.253);
}


article > legend {
    margin-top: 10px;
    font-size: 1.3rem;
    display: block;
    padding: 12px;
    background-color: white;
    border-top: 3px solid rgb(27, 80, 194);
    border-radius: 5px 5px 0px 0px;
}

table {
    position: relative;
    width: 100%;
    background-color: white;
    height: 40px;
    overflow-y: auto;
}

table thead {
    background-color: white;
    padding: 10px 0px;
}

table thead th{
    padding: 5px 0px;
}

table tbody tr {
    transition: .2s;
    padding: 40px 0px;
}


table tbody tr:hover {
    background-color: rgb(245, 248, 248);
}

table td {
    padding: 10px 0px;
}

table .status i {
    font-size: 20px;
}


td, th {
    width: max-content;
    padding: 15px 30px;
    cursor: pointer;
}

.status i {
    color: rgba(0, 0, 0, 0.226);
}


.btn-abrir {
    display: block;
    width: 100%;
    padding: 8px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

.btn-abrir:hover {
    background-color: rgb(236, 232, 232);
    text-decoration: underline;
}


.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.ck {
    color: limegreen !important;
}