@charset "UTF-8";


.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-top: -5px;
}

.titulo h1 {
    font-size: 1.6rem;
    font-weight: 400;
}

.titulo h1 small {
    font-size: 1.1rem;
    font-weight: 200;
}

.titulo div {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
}

.titulo div small {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.6px 15px;
    background-color: rgb(212, 212, 212);
    font-size: 16.5px;
    font-weight: 300;
}

.titulo div input {
    width: 300px;
    padding: 6px 10px;
    border: 1px solid rgb(212, 212, 212);
    outline-color: rgba(17, 158, 240, 0.253);
}

article > legend {
    font-size: 1.3rem;
    display: block;
    width: 100%;
    padding: 12px;
    background-color: white;
    border-top: 4px solid rgb(27, 80, 194);
    border-radius: 5px 5px 0px 0px;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table thead {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.144);
}

table thead, table tbody {
    width: 100%;
}

table thead th {
    text-align: left;
    width: max-content;
    padding: 5px 15px;
}

table tbody tr {
    display: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.041);
    transition: .2s;
}

table tr.active {
    display: table-row;
}


table tbody tr:hover {
    background-color: rgba(218, 238, 250, 0.322);
    padding: 5px;
}

table td {
    font-size: .9rem;
    text-wrap: nowrap;
    padding: 5px 15px;
}

table td strong {
    font-size: 1rem;
    color: rgb(20, 126, 224);
    font-weight: 400;
}

table td small {
    font-size: .9rem;
    color: rgb(20, 126, 224);
    font-weight: 400;
}

table .status i {
    font-size: 20px;
}


td {
    width: max-content;
    padding: 5px 30px;
    cursor: pointer;
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.status i {
    color: rgba(0, 0, 0, 0.226);
}

.mensagem {
    padding: 20px;
    display: block;
    width: 100%;
    margin: -9px auto 18px auto;
    background-color: white;
    text-align: center;
}


.tl {
    text-align: left !important;
}

.tr {
    text-align: right !important;
}

.tc {
    text-align: center !important;
}

.ck {
    color: limegreen !important;
}

.btn-abrir {
    padding: 10px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

.wl {
    width: 100%;
}
