@charset "UTF-8";

.titulo {
    display: flex;
    padding: 12px;
}

.titulo h1 {
    display: flex;
    align-items: baseline;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 15px;
}


#info-cliente {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 3px dashed white;
    border-radius: 5px;
    font-size: 1rem;
    gap: 10px 30px;
}

#info-cliente strong {
    font-size: .9rem;
}

#info-cliente span {
    font-size: 1rem !important;
}

#info-cliente > div {
    display: flex;
    min-width: 150px;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}


#info-os {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 10px;
    gap: 10px 30px;
}

#info-os > div {
    display: flex;
    min-width: 150px;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

#info-os input:disabled {
    padding: 5px;
    text-align: center;
}